language: python
python:
  - "2.7"
# command to install dependencies
install:
    - pip install python-ldap pexpect python-coveralls nose-cov
    - test/travis/install-ldap.sh
# command to run tests
script: make
after_success: coveralls

