language: python
python:
  - "2.7"
# command to install dependencies
install:
    - pip install -r requirements.txt
    - test/travis/install-ldap.sh
# command to run tests
script: make
after_success: coveralls

